<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col nzSpan="24">
    <div nz-row>
        <div nz-col nzSpan="9">
            <nz-form-item>
                <nz-form-label>Từ ngày</nz-form-label>               
                  <nz-form-control>
                    <nz-date-picker [nzFormat]="'dd-MM-yyyy'" [(ngModel)]="filter.toDate"></nz-date-picker>
                  </nz-form-control>             
            </nz-form-item>
        </div>
        <div nz-col nzSpan="9">
            <nz-form-item>
                <nz-form-label>Đến ngày</nz-form-label>
                <nz-form-control>
                  <nz-date-picker [nzFormat]="'dd-MM-yyyy'" [(ngModel)]="filter.endDate"></nz-date-picker>
  
                </nz-form-control>  
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-control>
                    <button (click)="getData()" nz-button nzSize="small" nzType="primary">
                        <i nz-icon nzType="search" nzTheme="outline"></i>
                        Thực hiện
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</div>
<br>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="12">
    <google-chart title="Tổng số bệnh nhân" [type]="pieChart" [data]="data" [columns]="columnNames" [width]="width"
      [height]="height" [options]="donutOptions">
    </google-chart>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <google-chart title="Bệnh nhân theo giới tính" [type]="pieChart" [data]="dataSex" [columns]="columnNames" [width]="width"
      [height]="height">
    </google-chart>
  </div>
  
  
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="inner-box">
      <!-- <google-chart title="Bar Chart" [type]="barChart" [data]="data" [columns]="columnNames" [width]="width"
        [height]="height">
      </google-chart> -->
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <!-- <google-chart title="Pie Chart" [type]="pieChart" [data]="data" [columns]="columnNames" [width]="width"
      [height]="height">
    </google-chart> -->
  </div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="12">
    <google-chart title="Bệnh nhân theo độ tuổi" [type]="columnChart" [data]="dataAge" [columns]="columnAge" [width]="width"
      [height]="height">
    </google-chart>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="inner-box">
      <google-chart title="Số lượng bệnh nhân xuất viện" [type]="barChart" [data]="dataPatientExport" [columns]="columnNames" [width]="width"
        [height]="height">
      </google-chart>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
